<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>


  <include file="$(find teleop_twist_joy)/launch/teleop.launch"></include>


  <node pkg="tesp2018" type="imu_node.py" name="imu_node" output="screen"/>
  <node pkg="tesp2018" type="lidar_node.py" name="lidar_node" output="screen"/>
</launch>